/**
 * ---------------------------------------------------
 * CSS Reset
 * ---------------------------------------------------
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * ---------------------------------------------------
 * Mixins
 * ---------------------------------------------------
 */

@serif: 'Playfair Display';
@sans-serif: 'Palanquin';

@letter-spacing: 0.05em;

@widthMobile: 600px;

@bg-color: #232323;
@error-color: #e47815;
@white: #fff;
@brand: #b69258;
@brand-dark: #57472f;
@light-gray: #c9c9c9;
@light-grey: @light-gray; // fuck you English


/**
 * ---------------------------------------------------
 * Base Styles
 * ---------------------------------------------------
 */

html {
	font-family: @sans-serif;
	background: @bg-color;
	background-image: url('../img/bg-image-theros.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

body {
	color: @white;
	letter-spacing: @letter-spacing;
	-webkit-font-smoothing: antialiased;
}

.app-interior {
	// margin: 8em 0 2em;
	margin: 6em 0 2em;
}

.main-container {
	margin: 3em 0 0;
}

.container-1100 {
	max-width: 1100px;
	margin: 0 auto;
}

.row {
	clear: both;
	position: relative;
	.clearfix;
}

.left-col { 
	float: left; 
	width: 50%;
	box-sizing: border-box;
}

.right-col { 
	float: right; 
	width: 50%;
	box-sizing: border-box;
}

.clearfix {
	&:after {
		content: '';
		display: block;
		overflow: hidden;
		clear: both;
	}
}

.error-msg {
	display: block;
	background: #b75232;
	border: 2px solid #e86035;
	padding: 10px 25px;
	font-size: 1.1em;
	line-height: 1.4em;
	text-align: center;
	margin: 0 0 1em;
}


@media (max-width: @widthMobile) {
	.app-interior {
		margin: 3em 0 2em;
		padding: 0 1em;
	}

	.right-col,
	.left-col {
		float: none;
		width: auto;
	}
}

/**
 * ---------------------------------------------------
 * Typography
 * ---------------------------------------------------
 */

h1, h2, h3, h4, h5, h6 {
	font-family: @serif;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
}

h2 { 
	font-size: 1.9em;
	font-family: @sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: @light-gray;
}

h3 { 
	font-size: 1.2em;
	margin: 0;
}

a {
	color: @brand;

	&:hover {
		text-decoration: none;
	}
}

strong {
	font-weight: bold;
}


/**
 * ---------------------------------------------------
 * Inputs
 * ---------------------------------------------------
 */

label {
	display: block;
	margin: 0 0 10px;
	color: @light-gray;
	font-size: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
}

.input {
	width: 100%;
	padding: 8px 10px;
	box-sizing: border-box;
	border: 1px solid #59595a;
	font-size: 1.05em;
	font-weight: 300;
	box-shadow: inset 4px 4px 5px rgba(0,0,0,0.18);
}

input,
select,
textarea {
	.input;
}

input,
button,
select,
textarea,
a {
	&:focus { outline-color: @brand; }
}

textarea {
	font-size: 1em;
    line-height: 1.4em;
}

input[type="checkbox"] {
	width: auto;
}

button.btn {
	text-transform: uppercase;
	background: transparent;
	border: 1px solid @brand-dark;
	color: @light-gray;
	font-weight: 300;
	cursor: pointer;
	transition: 0.2s linear all;
	font-size: 1em;
	
	&:hover {
		border-color: @brand;
		background: fade(@brand, 10%);
	}
}

button.control-btn {
	display: block;
	margin: 0 auto;
	font-size: 1.3em;
	padding: 10px 20px;
	letter-spacing: @letter-spacing;
	border-radius: 4px;
	color: @white;
}

.form-group {
	margin: 0 0 22px;

	&.checkbox-group {
		label {
			float: left;
			margin-right: 10px;
		}
	}

	&.has-error {
		.error-block {
			color: @error-color;
		}

		input,
		textarea,
		select {
			border-color: @error-color;
		}
	}
}

.control-submit {
	text-align: center;
	
	.spinning-loader {
		position: absolute;
		width: 48px;
		margin-left: 10px;
	}

	.control-btn {
		display: inline-block;
	}
}


/**
 * ---------------------------------------------------
 * Header
 * ---------------------------------------------------
 */

#app-header {
	.left-col { width: 70%; }
	.right-col { width: 30%; }

	#logo {
		float: left;

		img {
			height: auto;
			width: 158px;
		}
	}

	#primary-navigation {
		float: left;
		padding: 1.5em 0 0 1.5em;

		ul {
			li {
				display: inline-block;
				margin-right: 1.5em;

				a {
					color: @light-gray;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 1.2em;
					padding-bottom: 4px;
					border-bottom: 1px solid transparent;

					&.active {
						border-color: @brand;
					}
				}
			}
		}
	}

	#user-control {
		padding: 1.5em 0 0;
		text-align: right;

		button.log-out {
			margin-left: 15px;
			font-size: 0.9em;
			padding: 4px 8px;
		}
	}

	@media (max-width: @widthMobile) {
		#primary-navigation,
		#user-control {
			display: none; // temporary
		}
	}
}


/**
 * ---------------------------------------------------
 * Footer
 * ---------------------------------------------------
 */

#app-footer {
	position: absolute;
	padding: 15px 0;
	left: 0;
	right: 0;
	bottom: 0;

	.copyright {
		display: block;
		text-align: center;
		text-transform: uppercase;
		color: @brand;
		font-size: 0.8em;

		em {
			color: @light-gray;
		}
	}
}


/**
 * ---------------------------------------------------
 * Authentication
 * ---------------------------------------------------
 */

.authenticate-pane {
	
	.main-container {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.auxiliary-link {
		display: block;
		margin: 3em 0 0;
		text-align: center;
	}
}


/**
 * ---------------------------------------------------
 * Deck Catalog
 * ---------------------------------------------------
 */

#deck-catalog {
	.formats {
		h2 {
			margin: 0 0 1em 1.2em;
		}

		.format {
			margin: 0 0 5em;
			background: url('../img/deck-formats-bg.png');
			// background-repeat: repeat-y;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
			min-height: 350px;

			.decks {
				.clearfix;

				li {
					width: 25%;
					margin-bottom: 2em;
					float: left;
					text-align: center;
					transform: translateY(0);
					transition: 0.2s linear all;

					a {
						text-decoration: none;
					}

					.featured-card {
						position: relative;
						overflow: hidden;
						height: 160px;
						width: 160px;
						border-radius: 100px;
						border: 5px solid rgba(0,0,0,0.17);
						margin: 0 auto 7px;

						img {
							position: absolute;
							left: -57px;
						    top: -49px;
						    width: 286px;
							height: auto;
						}
					}

					h3 {
						color: @white;
					}

					&.in-progress {
						opacity: 0.5;
					}

					&:hover {
						transform: translateY(-10px);
					}
				}
			}
		}
	}

	#no-decks-found {
		text-align: center;
		font-size: 1.3em;
		background: rgba(182, 146, 88, 0.42);
		padding: 1em;
		line-height: 1.4em;
		max-width: 800px;
		margin: 0 auto;
		border-radius: 5px;
		border: 3px solid #b69258;

		a {
			color: #fff;
		}
	}

	@media (max-width: @widthMobile) {
		.formats {
			.format {
				.decks {
					li {
						width: 50%;
						padding: 0 1em;
						box-sizing: border-box;

						h3 {
							font-size: 1em;
						}
					}
				}
			}
		}
	}
}


/**
 * ---------------------------------------------------
 * Deck Adder
 * ---------------------------------------------------
 */

#deck-adder {
	.left-col,
	.right-col {
		padding: 0 1em;
		position: relative;
	}

	.right-col {
		min-height: 520px;
	}

	#featuredCard-group,
	#commander-group {
		max-height: 0;
	    margin: 0;
	    opacity: 0;
	    visibility: hidden;

		&.visible {
			max-height: 200px;
			opacity: 1;
			margin: 0 0 27px;
			visibility: visible;
		}

		&.anim-slide-down {
			transition: all 0.3s;
			transition-delay: 0.5s;
		}

		&.anim-slide-up {
			transition: all 0.5s;
		}
	}

	#mainboard-group,
	#sideboard-group {
		position: absolute;
		top: 0;
		width: calc(~'100% - 2em');

		label {
			position: relative;
			background: #555;
			width: auto;
			display: inline-block;
			padding: 8px 12px;
			margin-bottom: 0;
			border-radius: 3px 3px 0 0;
			z-index: 100;
			cursor: pointer;
			transition: box-shadow 0.3s;
			border: 2px solid transparent;
			border-bottom: none;

			&:hover {
				box-shadow: inset 0 10px 20px -5px fade(#000, 45%);
				border: 2px solid fade(#fff, 0);
				border-bottom: none;
			}

			&.visible {
				background: @brand;
				font-weight: 600;
				color: @white;
				text-shadow: -1px -1px fade(@brand-dark, 40%);
				box-shadow: inset 0 -10px 20px -5px fade(#000, 45%);
			}
		}

		textarea {
			display: none;

			&.visible {
				display: block;
			}
		}
	}

	#sideboard-group {
		label {
			left: 6.4em;
			left: 30.2%;
		}
	}
}

