/**
 * ---------------------------------------------------
 * CSS Reset
 * ---------------------------------------------------
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * ---------------------------------------------------
 * Mixins
 * ---------------------------------------------------
 */

@serif: 'Playfair Display';
@sans-serif: 'Palanquin';

@letter-spacing: 0.05em;

@widthMobile: 600px;

@bg-color: #232323;
@error-color: #e47815;
@white: #fff;
@brand: #b69258;
@brand-dark: #57472f;
@light-gray: #c9c9c9;
@light-grey: @light-gray; // fuck you English


/**
 * ---------------------------------------------------
 * Base Styles
 * ---------------------------------------------------
 */

html {
	font-family: @sans-serif;
	background: @bg-color;
	background-image: url('../img/bg-image-theros.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

body {
	color: @white;
	letter-spacing: @letter-spacing;
	-webkit-font-smoothing: antialiased;
}

.app-interior {
	// margin: 8em 0 2em;
	margin: 6em 0 2em;
}

.main-container {
	margin: 3em 0 0;
}

.container-1100 {
	max-width: 1100px;
	margin: 0 auto;
}

.row {
	clear: both;
	.clearfix;
}

.left-col { 
	float: left; 
	width: 50%;
	box-sizing: border-box;
}

.right-col { 
	float: right; 
	width: 50%;
	box-sizing: border-box;
}

.clearfix {
	&:after {
		content: '';
		display: block;
		overflow: hidden;
		clear: both;
	}
}

@media (max-width: @widthMobile) {
	.app-interior {
		margin: 3em 0 2em;
		padding: 0 1em;
	}
}

/**
 * ---------------------------------------------------
 * Typography
 * ---------------------------------------------------
 */

h1, h2, h3, h4, h5, h6 {
	font-family: @serif;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
}

h2 { 
	font-size: 1.9em;
	font-family: @sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: @light-gray;
}

h3 { 
	font-size: 1.2em;
	margin: 0;
}

a {
	color: @brand;

	&:hover {
		text-decoration: none;
	}
}


/**
 * ---------------------------------------------------
 * Inputs
 * ---------------------------------------------------
 */

label {
	display: block;
	margin: 0 0 10px;
	color: @light-gray;
	font-size: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
}

input, button, a {
	&:focus { outline-color: @brand; }
}

.input {
	width: 100%;
	padding: 8px 10px;
	box-sizing: border-box;
	border: 1px solid #59595a;
	font-size: 1.25em;
	font-weight: 300;
	box-shadow: inset 4px 4px 5px rgba(0,0,0,0.18);
}

input, select, textarea {
	.input;
}

input[type="checkbox"] {
	width: auto;
}

button.control-btn {
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
	background: transparent;
	border: 1px solid @brand-dark;
	color: @white;
	font-size: 1.3em;
	padding: 10px 20px;
	border-radius: 4px;
	letter-spacing: @letter-spacing;
	cursor: pointer;
	transition: 0.2s linear all;

	&:hover {
		border-color: @brand;
		background: fade(@brand, 10%);
	}
}

.form-group {
	margin: 0 0 22px;

	&.has-error {
		.error-block {
			color: @error-color;
		}

		input {
			border-color: @error-color;
		}
	}
}


/**
 * ---------------------------------------------------
 * Header
 * ---------------------------------------------------
 */

#app-header {
	.left-col { width: 70%; }
	.right-col { width: 30%; }

	#logo {
		float: left;

		img {
			height: auto;
			width: 158px;
		}
	}

	#primary-navigation {
		float: left;
		padding: 1.5em 0 0 1.5em;

		ul {
			li {
				display: inline-block;
				margin-right: 1.5em;

				a {
					color: @light-gray;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 1.2em;
					padding-bottom: 4px;
					border-bottom: 1px solid transparent;

					&.active {
						border-color: @brand;
					}
				}
			}
		}
	}

	#user-control {
		padding: 1.5em 0 0;
		text-align: right;
	}

	@media (max-width: @widthMobile) {
		#primary-navigation,
		#user-control {
			display: none; // temporary
		}
	}
}


/**
 * ---------------------------------------------------
 * Footer
 * ---------------------------------------------------
 */

#app-footer {
	position: absolute;
	padding: 15px 0;
	left: 0;
	right: 0;
	bottom: 0;

	.copyright {
		display: block;
		text-align: center;
		text-transform: uppercase;
		color: @brand;
		font-size: 0.8em;

		em {
			color: @light-gray;
		}
	}
}


/**
 * ---------------------------------------------------
 * Authentication
 * ---------------------------------------------------
 */

.authenticate-pane {
	
	.main-container {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.auxiliary-link {
		display: block;
		margin: 3em 0 0;
		text-align: center;
	}
}


/**
 * ---------------------------------------------------
 * Deck Catalog
 * ---------------------------------------------------
 */

#deck-catalog {
	.formats {
		h2 {
			margin: 0 0 1em 1.2em;
		}

		.format {
			margin: 0 0 5em;
			background: url('../img/deck-formats-bg.png');
			// background-repeat: repeat-y;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
			min-height: 350px;

			.decks {
				.clearfix;

				li {
					width: 25%;
					margin-bottom: 2em;
					float: left;
					text-align: center;
					transform: translateY(0);
					transition: 0.2s linear all;

					a {
						text-decoration: none;
					}

					img {
						width: 182px;
						height: auto;
						border-radius: 100px;
						border: 5px solid rgba(0,0,0,0.17);
						margin: 0 0 7px;
					}

					h3 {
						color: @white;
					}

					&.in-progress {
						opacity: 0.5;
					}

					&:hover {
						transform: translateY(-10px);
					}
				}
			}
		}
	}

	@media (max-width: @widthMobile) {
		.formats {
			.format {
				.decks {
					li {
						width: 50%;
						padding: 0 1em;
						box-sizing: border-box;

						img {
							max-width: 100px;
						}

						h3 {
							font-size: 1em;
						}
					}
				}
			}
		}
	}
}


/**
 * ---------------------------------------------------
 * Deck Adder
 * ---------------------------------------------------
 */

#deck-adder {
	.left-col,
	.right-col {
		padding: 0 1em;
		position: relative;
	}
}

